<div class="topbar">
  <div class="content">
    <h2>On va où ?</h2>
    <div class="form">
      <div class="field">
        <p>Je pars de là :</p>
        <input type="text" [(ngModel)]="start" (change)="wrongStart = false;" [ngClass]="{'wrong-input': wrongStart}"/>
      </div>
      <div class="field">
        <p>Je veux aller là :</p>
        <input type="text" [(ngModel)]="end" (change)="wrongEnd = false;" [ngClass]="{'wrong-input': wrongEnd}"/>
      </div>
    </div>

    <div class="options">

      <div class="change-options-btn" (click)="switchOptionsDiv()">
        <i class="material-icons" [ngClass]="{'rotate': optionsOpen}">keyboard_arrow_down</i>
        <p>Options de recherche</p>
      </div>

      <div class="options-div" [ngClass]="{'options-open': optionsOpen}">

        <div class="options-form">
          <div class="options-form-div">
            <input type="checkbox" id="trafic" [(ngModel)]="trafic" />
            <p>Trafic</p>
          </div>
          <div class="options-form-div">
            <p>Algorithme :</p>
            <select name="algorithm" id="algorithm" [(ngModel)]="algorithm">
              <option value="s1">Simplexe 1</option>
              <option value="s2">Simplexe 2</option>
              <option value="djikstra">Djikstra OSMNX</option>
            </select>
          </div>
          <div class="options-form-div">
            <p>Ville:</p>
            <input type="text" [(ngModel)]="town" />
          </div>
        </div>

      </div>

    </div>
  </div>

  <div id="btn-search">
    <i class="material-icons" (click)="search()">search</i>
  </div>
</div>

<div class="sidebar" [ngClass]="{'sidebar-open': foundPath}" >

  <div class="content">

    <h2 class="message-wait" *ngIf="!foundPath && !searching">Lancez votre recherche !</h2>

    <h2 class="duration" *ngIf="foundPath">{{displayTime(pathData.time) || '00'}} </h2>

    <div class="right-mobile">
      <p class="hours" *ngIf="foundPath"><span id="start-hour">{{pathData.departure}}</span> - <span id="end-hour">{{pathData.arrival}}</span></p>
      <p class="average-speed" *ngIf="foundPath">Vitesse moyenne : <span id="average-speed-value">{{displaySpeed(pathData.speed) || '0'}} km/h</span></p>
      <p class="distance" *ngIf="foundPath">Distance : <span id="distance-value">{{displayLength(pathData.length) || '0'}}</span></p>
    </div>

    <div class="animation">
      <img src="assets/car.gif" alt="PLERC"/>
    </div>

  </div>

</div>

<div class="loading" [ngClass]="{'loading-hidden': foundPath}">

  <div class="animation">
    <img src="assets/wait.gif" alt="PLERC"/>
  </div>

  <div class="loading-gif" *ngIf="searching">
    <img src="assets/load.gif" alt="PLERC"/>
  </div>

</div>

<iframe id="map" class="map"
        [ngClass]="{'map-active': foundPath}"
        [src]="url|safe: 'resourceUrl'">
</iframe>

<notifier-container></notifier-container>

<router-outlet></router-outlet>
