<div class="topbar">
  <div class="content">
    <h2>On va où ?</h2>
    <div class="form">
      <div class="field">
        <p>Je pars de là :</p>
        <input type="text" [(ngModel)]="start" (change)="wrongStart = false;" [ngClass]="{'wrong-input': wrongStart}"/>
      </div>
      <div class="field">
        <p>Je veux aller là :</p>
        <input type="text" [(ngModel)]="end" (change)="wrongEnd = false;" [ngClass]="{'wrong-input': wrongEnd}"/>
      </div>
    </div>
  </div>

  <div id="btn-search">
    <i class="material-icons" (click)="search()">search</i>
  </div>
</div>

<div class="sidebar" [ngClass]="{'sidebar-open': foundPath}" >

  <div class="content">

    <h2 class="message-wait" *ngIf="!foundPath && !searching">Lancez votre recherche !</h2>

    <h2 class="duration" *ngIf="foundPath">{{displayTime(pathData.time) || '00'}} </h2>

    <div class="right-mobile">
      <p class="hours" *ngIf="foundPath"><span id="start-hour">{{pathData.departure}}</span> - <span id="end-hour">{{pathData.arrival}}</span></p>
      <p class="average-speed" *ngIf="foundPath">Vitesse moyenne : <span id="average-speed-value">{{displaySpeed(pathData.speed) || '0'}} km/h</span></p>
      <p class="distance" *ngIf="foundPath">Distance : <span id="distance-value">{{displayLength(pathData.length) || '0'}}</span></p>
    </div>

    <div class="animation">
      <img src="assets/car.gif" alt="PLERC"/>
    </div>

  </div>

</div>

<div class="loading" [ngClass]="{'loading-hidden': foundPath}">

  <div class="animation">
    <img src="assets/wait.gif" alt="PLERC"/>
  </div>

  <div class="loading-gif" *ngIf="searching">
    <img src="assets/load.gif" alt="PLERC"/>
  </div>

</div>

<iframe id="map" class="map"
        [ngClass]="{'map-active': foundPath}"
        [src]="url|safe: 'resourceUrl'">
</iframe>

<notifier-container></notifier-container>

<router-outlet></router-outlet>
