.sidebar {
  position: fixed;
  right: 0;
  top: 200px;
  width: 350px;
  height: calc(100vh - 200px);
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  .content {
    width: 300px;
    height: calc(100vh - 300px);
    margin: 50px 25px 50px 25px;

    .duration {
      text-align: center;
      margin-top: 25px;

      #duration-value {
        font-size: 48px;
      }

      #duration-unit {
        padding-left: 6px;
        font-size: 16px;
        color: #999;
      }
    }

    .hours {
      margin-top: 20px;
      text-align: center;
    }

    .average-speed {
      margin-top: 20px;
      text-align: center;

      #average-speed-value {
        font-weight: 600;
      }
    }

    .animation {
      width: 300px;
      margin: 100px auto;

      img {
        width: 100%;
      }
    }
  }
}
